.category_card {
	max-width: 1440px;
		min-width: 523px;
		min-height: 100%;
		margin: 0 auto;
		padding: 30px;
		/* border: 1px solid rgb(231, 231, 231); */
		display: flex;
		flex-direction: column;
		
}

.category_card:hover {
	background-color: rgb(180, 180, 218);
	color: white;
}

a {
	text-decoration:center;
	color: black;
}