.category_card {
	max-width: 1440px;
	min-width: 523px;
	min-height: 100%;
	margin: 0 auto;
	padding: 30px;
	display: flex;
	flex-direction: column;
	text-align: center;

}

.category_card:hover {
	background-color: rgb(180, 180, 218);
	color: white;
}

a {
	font-size: 25px;
		font-weight: bold;
		color: #333;
}