/* Стиль для всех карточек */
.category_card {
	width: 250px;
	height: 350px;
	margin: 0 auto;
	padding: 30px;
	display: flex;
	flex-direction: column;	
}


.category_card img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}