.card {
	border: 2px solid rgb(241, 5, 41);
	padding: 15px;
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card button {
	background-color: rgb(198, 235, 141);
	color: white;
	cursor: pointer;
	padding: 10px;
	border: none;
	margin: 0 5px;
	border-radius: 7px;
}
.card img{
	height: 150px;
	width: 150px;
	object-fit: contain;
	border-radius: 30%;
	border: 5px solid
}