.img{
    width: 192px;
    height: 166px;
    object-fit: cover;
    border-radius: 20px;
}

.left_side{
    width: 60%;
    display: flex;
    align-items: start;
    gap: 50px;
   
  
}

.container{
    display: flex;

   
    border-radius: 20px;
    margin: 30px 100px;
    padding: 20px;
    
}

.text_block{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.text_block p:first-child{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}

.text_block p:last-child{
    text-align: justify;
}

.btns_container{
    display: flex;
    font-size: 22px;
    width: 100px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid #080808;
    border-radius: 20px;
	
}

.btns_container button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
}